* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.screen1 {
    position: absolute;
    width: 1041px;
    height: 1178px;
    left: 0px;
    top: 0px;
    background: #F3FCFF;
    border-radius: 0 100px 100px 0;
    z-index: -1;
}